<!DOCTYPE html> 

<html>


<head>
   
    <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css"/>


    <body>
        <% include partials/nav.ejs %>

        <h1>CONTACT US! </h1>
        <p>Thank you for getting in touch! </p>

        <p> <%= data.who %> in the <%= data.department %> department has been pinged.</p>
        <p> You will recieve a reply at <%= data.email %></p>
        






      

    </body>


</head>

</html>