<!DOCTYPE html> 

<html>


<head>
    
    <link href = "/assets/styles.css" rel = "stylesheet" type = "text/css"/>
        


    <body>
        <% include partials/nav.ejs %>

        <h1>Welcome to Tai's Test HTML </h1>
        <p>Where tai attempts to become a paid developer </p>

    </body>


</head>

</html>